<!DOCTYPE html>
<html>
<head>
    <title>CS460 PA1</title>
    <style type="text/css">
			#main_header{
				text-align: center;
				background-color: #DA3825;
				color: white;
				padding: 2px;
				font-family: Arial, Helvetica;
			}

			body{
				font-family: Arial, Helvetica;
			}

			#schemas{
				padding-left: 200px;
				padding-right: 200px;
			}
			#queries{
				width: 50%;
				text-align: center;
				float: left;
				margin-top: 50px;
			}
			#results{
				width: 50%;
				text-align: center;
				float: right;
			}
			#schema_text{
				text-align: center;
			}

    </style>
    <header id="main_header">
        <h1>CS460 PA1</h1>
        <p>Mina Horner and Ethan Timoteo</p>
        <div class="topnav">
            <a class="active" href="{{ url_for('homepage') }}">Select</a>
            <a href="{{ url_for('check_in') }}">Checks in</a>
            <a href="{{ url_for('write_review') }}">Write Review</a>
            <a href="{{ url_for('insertion') }}">Insert/Delete</a>
        </div>
    </header>
</head>

<body>
<div id="schemas">
    <p id="schema_text">
        Schemas:<br>
    </p>
    <p>
        <b>business</b> (business_id: varChar(50), full_address: varChar(200), active: boolean, categories:
        charVar(200), city: charVar(50), review_count: int, business_name: varChar(200), state: varChar(2), stars:
        double)
        <br>
        <b>checkins</b> (business_id: varChar(50), Sunday: int, Monday: int, Tuesday: int, Wednesday: int, Thursday:
        int, Friday: int, Saturday: int)
        <br>
        <b>reviews</b> (review_id: varChar(50), business_id: varChar(50), user_id: varChar(50), stars: int, review_date:
        varChar(20), votes_funny: int, votes_useful: int, votes_cool: int, review_text: varChar(5000))
        <br>
        <b>users</b> (user_id: varChar(50), votes_funny: int, votes_useful: int, votes_cool: int, uname: varChar(50),
        average_stars: double, review_count: int)

    </p>
</div>
<div id="queries">

    <form action="/checks_in" method="POST">
        User Check In<br><br>
        User
        <input type="text" name="checksinUser_id" placeholder="(user_id)">
        checks into
        <input type="text" name="checksinBusiness_id" placeholder="(business_id)">
        on<br>
          <input type="radio" name="options" value="monday" checked> Monday<br>
  			<input type="radio" name="options" value="tuesday"> Tuesday<br>
		<input type="radio" name="options" value="wednesday" checked> Wednesday<br>
  			<input type="radio" name="options" value="thursday"> Thursday<br>
		<input type="radio" name="options" value="friday" checked> Friday<br>
  			<input type="radio" name="options" value="saturday"> Saturday<br>
		<input type="radio" name="options" value="sunday" checked> Sunday<br>
        ,
        <input type="text" name="checksinDate" size="10" placeholder="(MM-DD-YYYY)">
        <br><br>
        <button>Check In</button>
    </form>

</div>


<div id="results">
    <br>
    Result
    <br>
    <textarea rows="40" cols="100">
        {{ header }}
        {% for res in result %}
                Entry: {{ res }}
        {% endfor %}
    </textarea>
</div>

<body>

</body>
</html>